{% extends "base.html" %}

{% block title %} <title>Public Notes</title> {% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
{% endblock %}
    

{% block content %}
    <!-- <div class="content-section"> -->
        <h1>Public Notes</h1>
        

        <table id="printIndentTable" class="table table-bordered table-hover ">
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Timestamp</th>
            </tr>
            {% for note in notes %}
            <tr>
              <td><a href="{{url_for('note_view', url_id=note.url_id)}}">{{ note.title }}</a></td>
              {% if note.username %}
                <td><a href="{{url_for('user_notes', username=note.username)}}">{{ note.username }}</a></td>
              {% else %}
                <td>{{ note.username }}</td>
              {% endif %}
              <td>{{ note.updated }}</td>
            </tr>
            {% endfor %}
          </table>


    <!-- </div> -->
{% endblock %}


{% block js_code %}
{% endblock %}
